body {
    background:#202020;
    color:white;
    font-family:Arial;
    text-align:center;
}

.timer-container {
    width:220px;
    margin:40px auto;
    background:#303030;
    padding:20px;
    border-radius:10px;
}

.title {
    font-size:16px;
}

.green { color:#00ee00; }
.red { color:#ff0000; }

.time {
    font-size:40px;
    font-weight:bold;
    margin:10px 0;
}

.divider {
    border-top:1px solid #666;
    margin:15px 0;
}

.controls button {
    margin:5px;
    padding:8px 12px;
}
